nav {
  list-style-type: none;
  background-color: black;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0; 
  overflow: hidden;
  position: fixed;
  padding: 15px 30px;
  
  
}

li { 
float: left

  }
 
li a {
  background-color: black;
  color: white;
  text-decoration: none;
   padding: 40px 80px;
 
}

li a:hover {
  
  background-color: white;
  color: black;
}

body {
background-color: antiquewhite;
}

h2 {
  color: black;
   font-size: 250%;
   
}

h1 {
  color: red;
  font-size: 150%;
}

h3 {
  
  color: black;
  font-size: 250%;
